{% extends "EappBlogBundle::layout.html.twig" %}

{% block title %}
  Modifier un article - {{ parent() }}
{% endblock %}

{% block myblogz_body %}

  <h2>Modifier un article</h2>

 {% include "EappBlogBundle:Blog:form.html.twig" %}

  <p>
    <a href="{{ path('myblogz_post', {'id': post.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'article
    </a>
  </p>

{% endblock %}